body{
   background-image: url('../img/fondoo.jpg');
   margin: 0px;
}

header{
    text-align: center;
    background-color: lightblue;
    margin: 0px 100px;
    padding: 20px;
}

main{
    background-color: white;
    margin: 0px 100px;
    padding: 20px 40px;
}

h1{
    font-size: 45px;
    font-family: sans-serif;
}

h2{
    font-size: 45px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}

.reymov{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: sans-serif;
}

h4{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: sans-serif;
}

.reinamov{
    text-align: center;
}

.reina-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: sans-serif;
}

p{
    text-align: center;
    font-size: 25px;
}

.alfilmov{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: sans-serif;
}

.caballito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.torrez{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peón-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nueve{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    text-decoration: underline;
    font-family: sans-serif;
}

.enroque{
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    justify-content: center;
}    

ul{
text-decoration: none;
    font-size: 20px;
    list-style: none;
    
}

.alpaso{
    display: flex;
    justify-content: center;
}

.mate{
    display: flex;
    justify-content: center;
}


footer{
    display: flex;
    max-height: 125px;
    margin: 0px 100px;
    padding: 20px;
    justify-content: end;
    align-items: center;
    background-color: lightblue;
}

.inicio{
    font-size: 25px;
    font-family: serif;
    margin: auto 10px;
}

.atras{
   height: 50px;
   margin: auto;
}

p{
    font-size: 25px;
}

@media (max-width:734px){
    header{
        margin: 0px 30px;
    }

    main{
        margin: 0px 30px;
    }

    footer{
        margin: 0px 30px;
    }

    h1{
        font-size: 35px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 32px;
    }

    h4{
        font-size: 32px;
    }

    h5{
        font-size: 32px;
    }

    h6{
        font-size: 32px;
    }

    p{
        font-size: 20px;
    }

    .nueve{
        font-size: 30px;
    }

    img{
        width: 225px;
    }

    .inicio{
        font-size: 20px;
    }

    .atras{
        height: 40px;
        width: 40px;
    }
}